body {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 400px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "top" "." "bottom";
}

.grid > * {
    margin: 0 auto;
}

.grid > *:first-child {
    grid-area: top;
}

.grid > *:last-child {
    grid-area: bottom;
}

.block{
    width: 200px;
    height: 200px;
    background-color: wheat;
}

.block:first-child {
    background-color: hsl(240deg, 100%, 50%);
    background-image: url(https://picsum.photos/200/200);
    background-size: cover;
}

.block:nth-child(2) {
    background-color: rgba(0, 0, 255, 0.3);
    background-image: url(https://picsum.photos/40/40);
}

.block:nth-child(3) {
    background-image: repeating-linear-gradient(red, red 15px, black 15px, black 30px);
}

.block:last-child {
    background-color: hsla(240deg, 100%, 50%, 0.5);
    background-image: radial-gradient(white 50px, blue);
}



