.block {
    background-image: radial-gradient(white, blue);
    width: 200px;
    height: 200px;
    border-width: 50px;

    border-style: double;
    
    border-image-slice: 20%;
    
    border-image-width: 50px;
    
    border-image-repeat: round stretch;
    border-image-source: url(../images/rand.jpg);
}