advert/index.php
advert/style.css
advert/images/background.jpg
advert/images/background.png
advert/images/banner.jpg
advert/images/content.jpg
advert/images/contentbot.jpg
advert/images/header.png
advert/images/menu.jpg
advert/images/menuhover.jpg
advert/images/menuleft.jpg
advert/images/menulefthover.jpg
advert/images/menuright.jpg
advert/images/menurighthover.jpg
advert/images/topcontent.jpg
Informatica-master/AddPTA.php
Informatica-master/bigboi_Tiago.sql
Informatica-master/bigboi.sql
Informatica-master/bigboiSlava.sql
Informatica-master/ChainSelect.js
Informatica-master/DataStyle.css
Informatica-master/DataStyleFix.css
Informatica-master/EditPTA.php
Informatica-master/LeerlingAdmin.php
Informatica-master/LoginPTA.php
Informatica-master/MainPage.php
Informatica-master/Process.php
Informatica-master/README.md
Informatica-master/Scripts.php
Informatica-master/ViewPTA.php
Informatica-master/images/background.jpg
Informatica-master/images/bekijk_PTA.jpg
Informatica-master/images/bekijken.png
Informatica-master/images/logo.png
Informatica-master/images/toevoegen.png
