/* Default values */
body {
    box-sizing: border-box;
    font-size: 120%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* body */
body {
    --bodyPad: 2rem;
    margin: 0 var(--bodyPad);
}

#bodyContainer {
    background-color: rgb(182, 182, 182);
    height: max(100vh, fit-content);
    padding: var(--bodyPad) 0;
}
/* Avoids fake margin between nav and body */
body .container:first-child {
    margin-top: 0;
} 

/* Navigation */
nav {
    border: 3px solid black;
    padding: 1ch;

    position: sticky;
    top: 0px;

    background-color: white;
}

nav h2 {
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    border: 2px solid black;
    margin-left: 1ch;

    padding: 1ch;
    min-width: 2rem;
    /* max-width: 7rem; */

    text-align: center;
}

/* container */
.container {
    border: 0.2rem solid black;
    padding: 1rem;
    margin: var(--bodyPad);
    background-color: white;
    border-radius: 1rem;
}

/* container elements */
.container button {
    min-width: 4rem;
}

.container p {
    word-break: break-all;
}

.container[id='Image API'] img {
    margin: 2%;
}

.container[id='History API'] button {
    margin: 2%;
}

.container[id='History API'] button:nth-of-type(1) {
    margin: 0%;
    margin-right: 2%;
}