.grid {
  background-color: hsl(140, 70%, 70%);
  border: 2px solid hsl(140, 70%, 15%);
  border-radius: 6px;
  color: hsl(140, 5%, 5%);
  margin: 20px;
}

[class^="grid"] > * {
  align-items: center; /* aligns items on vertical axis */
  justify-content: center; /* aligns items on horizontal axis */

  background-color: hsl(140, 50%, 50%);
  border: 2px solid hsl(140, 70%, 15%);
  border-radius: 6px;

  display: flex;
  margin: 0;
  padding: 1em;
}
