<<<<<<< HEAD
div > p {
    font-size: 20px;
    color: red;
}

p {
    font-size: 10px;
}
=======
div > p {
    font-size: 20px;
    color: red;
}

p {
    font-size: 10px;
}
>>>>>>> 8ffe889af0d0f575efc34d1b3828b3e4b96081ca
