.grid {
    --borderVar: 3px solid black;
}

.grid {
    width: 100%;
    grid-template-columns: 3fr;
    grid-template-rows: 0.5fr 256px 0.5fr 0.5fr 2fr 0.5fr;
}

.grid {
    grid-template-areas:    "Menu" 
    "Wide-Photo"
    "Content"
    "Content"
    "Content"
    "Footer";
}

.grid-Footer, #content, #cards, #pictures-videos > h2 {
    padding: 0 var(--gridPadding);
}

@media screen and (min-width: 768px) {
    .grid-Menu {
        padding: 0 var(--gridPadding);
    }

    .grid {
        grid-template-areas:    ". Menu ." 
        "Wide-Photo Wide-Photo Wide-Photo"
        "Content"
        "Content"
        "Content"
        "Footer Footer Footer";
    }
}

.grid-Menu {
    grid-area: Menu;
}

.grid-Wide {
    grid-area: Wide-Photo;
    border-bottom: var(--borderVar);
    border-top: var(--borderVar);
}

.grid-Wide {
    background-color: wheat;
}

.grid-Content {
    grid-area: Content;
}

.grid-Content {
    background-color: var(--sndColor);
}

.grid-Footer {
    grid-area: Footer;
    border-top: var(--borderVar);
}

#content, #pictures-videos {
    border-bottom: var(--borderVar);
}

/* Content section */
#content > .flex-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #content > .flex-item {
        width: 50%;
    }
}
/* End content */

#pictures-videos > .flex {
    justify-content: space-between;
}

#pictures-videos .flex-item {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.template-200px {
    width: 180px;
    height: 128px;
    background-color: red;
}

@media screen and (max-width: 767px) {
    #pictures-videos > .flex {
        display: block;
    }
    .template-200px {
        width: 60vw;
        height: 40vw;
        background-color: red;
    }
}

@media screen and (min-width: 768px) {
    #pictures-videos .flex-item:nth-of-type(4),
    #pictures-videos .flex-item:nth-of-type(5) {
        width: 50%;
        height: 256px;
    }
    #pictures-videos .flex-item:nth-of-type(5) {
        background-color: blue;
    }
}

@media screen and (min-width: 1024px) {
    #pictures-videos .flex-item:nth-of-type(4),
    #pictures-videos .flex-item:nth-of-type(5) {
        width: 180px;
        height: 128px;
    }
    #pictures-videos > .flex {
        padding: 0 var(--gridPadding);
    }
}

.template-300px {
    --widthImg: 180px;
    width: var(--widthImg);
    height: calc(var(--widthImg) * 0.6);
    background-color: red;

}

#cards {
    margin: 2rem 0;
    justify-content: space-between;
}

.card {
    width: min-content;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: green;
    border: 1px solid purple;
}

@media screen and (max-width: 767px) {
    #cards {
        display: block;
    }
    .template-300px {
        --widthImg: max(180px, 50vw);
    }

}