@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@200&family=Roboto+Condensed&display=swap');

/* Imported font styles

font-family: 'Great Vibes', cursive; --> Letter blocks
font-family: 'Poppins', sans-serif; --> Menu navigation
font-family: 'Roboto Condensed', sans-serif; --> Other text
*/

/* Base style rules */
:root {
    --whiteSpace: 1px;
    --pageMargin: 0.5rem;
    --pagePadding: 0.5rem;
}

body {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: var(--pageMargin);
    background-color: rgb(220, 220, 220);

    font-family: 'Roboto Condensed', sans-serif;
}

main {
    background-color: white;
    border: 1px solid silver;
    padding: var(--pageMargin) var(--pagePadding);
}
/* End base style rules */

/* Navigation menu style rules */
nav ul {
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: rgb(255, 211, 129);
}

nav li:nth-child(odd) {
    height: 100%;
    width: 100%;
    text-align: center;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    display: block;

    padding: 1ch;
    width: 100%;

    font-size: 60%;
    text-transform: uppercase;
    text-decoration: none;
    color: black;

    transition: all 0.3s linear;
}

nav a:hover {
    background-color: rgb(105, 77, 25);
    color: white;
}
/* End navigation style */

h1, h2 {
    text-shadow: 3px 3px 4px gray;
}

/* Adds cloud symbol at the start of a paragraph */
#Versteend p::before {
    content: "\2601  ";
}

/* Gradient seperator line */
hr {
    background-image: linear-gradient(to right, black, white, black );
    height: 3px;
    border: 0;
}

#Natuurfotos img {
    width: 100%;
    height: 100%;
}

#Natuurfotos img:nth-child(3), #Natuurfotos img:nth-child(4) {
    opacity: 0.5;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    align-content: center;
}

.letterBlok {
    width: calc(50vw - 0.5rem * 3);
    height: 43vw;

    margin: 1ch;

    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(0, 157, 224);
}

.letterBlok p {
    font-family: 'Great Vibes', cursive;
    text-align: center;

    background-color: rgb(193, 193, 193);
    border-radius: 50%;

    color: rgb(0, 157, 224);

    width: 80%;
    height: 80%;
    font-size: calc(24px + 4vw);
}

@media screen and (min-width: 768px){
    #Versteend .column {
        column-count: 3;
        column-rule-style: solid;
        column-rule-color: red;
        column-rule-width: 1px;
    }
    #Versteend p{
        margin: 0;
    }
    #Versteend p + p {
        margin-top: 1em;
    }

    #Natuurfotos img {
        width: calc(50% - var(--whiteSpace) * 2);
    }

    nav a {
        font-size: 12px;
    }

    p {
        font-size: 20px;
    }

    h1, h2 { 
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    #Natuurfotos img {
        width: calc(25% - var(--whiteSpace) * 3);
    }

    .flex {
        flex-direction: column;
    }

    .letterFlex {
        width: 100%; 
        flex-direction: row;
    }

    .letterBlok {
        width: calc(33.333% - var(--whiteSpace) * 2 - 1ch * 2);
        height: 30vw;
    }

    nav a {
        font-size: 16px;
    }

    p {
        font-size: 24px;
    }

    h1, h2 { 
        font-size: 42px;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --pagePadding: 6rem;
    }

    nav a {
        font-size: 20px;
    }

    p {
        font-size: 30px;
    }

    h1, h2 { 
        font-size: 42px;
    }
}

