.gameBar {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  width: 60%;
  height: max-content;
  padding: 0 4px;

}

#scoreTitle {
  display: inline-block;
  width: max-content;
  margin: 0;
}

#timer {
  visibility: hidden;

  width: 100%;
  text-align: center;
  margin: 0;
  font-size: xx-large;

  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#timer > p {
  display: inline;
}

.flex > * {
  padding: 5px;
}

#field {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  margin: 0 auto;
}

#field > div {
position: relative;  
padding: 5px;
}

#field img {
  width: 100%;
}

.board4 {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.board5 {
  flex: 20%;
  max-width: 20%;
  box-sizing: border-box;
}

.board6 {
  flex: 16.66666%;
  max-width: 16.66666%;
  box-sizing: border-box;
}

img {
  margin: 0;
  display: block;
}

#field .covered, .uncovered {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

#field .uncovered {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  #field {
    max-width: 768px;
  }
  .infoBar {
    max-width: 768px;
  }
}

