
body {
    background-color: lightyellow;
    font: Calibri;
    text-align: justify;
}

#top {
    font-size: 30px;
    width: max-content;

}
section {
    width: min-content;
    margin: 0 auto;
    text-align: center;
    border-left: double rgba(255,201,20,0.5) 0.5rem;
    padding-left: 0.5em;

}

p {
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
    text-align: justify;
}

a img {
    box-shadow: 0px 0px 11px 1px rgba(255,201,20,0.5);
}

figcaption{
    font-size: 75%;
    font-style: italic;
}

a {
    text-decoration: none;
}